.aboutme-container{
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'SBAggroB';
}

.main{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    flex-wrap: wrap;
    font-family: 'SBAggroB';
}

.icons{
    width: 15%;
    padding-bottom: 30px;
}

.icon{
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.aboutme-title{
    padding-top:55px;
}