.main{
    text-align: center;
    display: flex;
    justify-content: center;

}

.icons{
    text-align: center;
    margin-right: 50px;
    float: left;
}

.icon{
    margin-right: 10px;
    font-size: 30px;
}