.carrer-container{
    padding-bottom: 50px;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    margin-top: 30px;
}
h5{
    margin-top: 20px;
}
body{
    font-family: 'SBAggroB';
    min-height: 300vh;
}
ul{
    margin-top: 20px;
}
/* div{
    margin-top: 10px;
} */

.Cardcontainer{
    display: flex;
}

.CarrerCard{
    display: flex;
    margin: 0 auto;
    transition: all 0.2s linear;
}

.CarrerCard:hover{
    transform: scale(1.05);
}


.carrer_image{
    margin: 0 auto;
    height: 180px;
    width: 200px;
}

.carrer-title{
    padding: 35px 0px 15px 0px;
}