h1{
    text-align: center;
    margin-top: 20px;
}
h3{
    margin-top: 30px;
}
h5{
    margin-top: 20px;
}
body{
    font-family: 'SBAggroB';
}
ul{
    margin-top: 20px;
}
div{
    margin-top: 10px;
}

.carrer-container{
}

.Cardcontainer{
    display: flex;
    margin: 0 auto;
}

.CarrerCard{
    margin: 10px auto;
    justify-content: center;
}

.carrer_image{
    margin: 0 auto;
    height: 180px;
    width: 200px;
}