.test{
    display: flex;
}

.card-list{
    margin: 0 auto;
}

.card-title{
    margin-bottom: 20px;
}

.project-title{
    padding: 35px 0px 15px 0px;
}

/* .card-text{
    text-align: justify;
} */