.skill-container{
    /* justify-content: center; */
    /* text-align: center; */
    font-family: 'SBAggroB';
    padding-bottom: 50px;
    background-color: #f9c51d;
}
.skill-title{
    flex: auto;
    padding: 35px 0px 15px 0px;
}

.contents{
    font-family: 'SBAggroB';
    margin: 0 auto;
}
.contents-head{
    display: flex;
    justify-content: center;
}

.skillCards{
    margin: 10px 20px 10px 10px;
    padding-top: 20px;
}

.cards{
    text-align: center;
    transition: all 0.2s linear;
}
.cards:hover{
    /* box-shadow:  0px 2px 10px 10px rgba(0,0,0,0.2); */
    transform: scale(1.2);
}

.photo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
