.Example {
    text-align: center;
    height: 100vh;
    border: 0;
    padding: 0; 
    background-image:url('images/test.jpg');
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
    position: relative
  }